.header {
    position: fixed;
    top: 0;
    background-color: var(--dark-bg);
    padding: 30px 0;
    width: 100%;
    &_content {
        display: flex;
        justify-content: space-between;
        width: 100%;
        align-items: center;
    }
}
