.button {
  border: none;
  outline: none;
  cursor: pointer;
  background-color: transparent;
  border: 1px solid;
  font-family: var(--font-lato);
  padding: 15px 0;
  border-radius: 4px;
  transition: all 0.3s ease;
  background-color: var(--bg-color);
  &__primary {
    border-color: var(--border-color__primary);
    color: var(--text-color__light);
    --bg-color: var(--colored-text);
  }
  &__secondary {
    border-color: var(--border-color__secondary);
    color: var(--text-color__dark);
    --bg-color: #fff;
  }
  &:hover {
    background-color: color-mix(in srgb, var(--bg-color) 90%, black);
  }
}
