.base-text {
  display: inline-block;
  font-family: var(--font-lato);
  font-weight: 400;
  line-height: 1;

  &--xl {
    font-size: 20px;
  }

  &--m {
    font-size: 18px;
  }

  &--s {
    font-size: 16px;
  }

  &--xs {
    font-size: 13px;
  }

  @media (max-width: 768px) {
    &--xl {
      font-size: 16px;
    }

    &--m {
      font-size: 14px;
    }

    &--s,
    &--xs {
      font-size: 12px;
    }
  }
}
