.baseText {
  display: inline-block;
  font-family: var(--font-lato);
  font-weight: 400;
  line-height: 1;
  &__xl {
    font-size: 20px;
  }
  &__m {
    font-size: 18px;
  }
  &__s {
    font-size: 16px;
  }
  @media screen and (max-width: 768px) {
    &__xl {
      font-size: 16px;
    }
    &__m {
      font-size: 14px;
    }
    &__s {
      font-size: 12px;
    }
  }
}
