$text-color: #c3c3c3;

.footer {
  padding: 30px 0;
  background-color: var(--bg-dark);
  font-family: var(--font-lato);
  &__content {
    display: flex;
    width: 100%;
    justify-content: space-between;
  }
  &__companyName {
    text-transform: uppercase;
  }
  &__copyright {
    font-size: 13px;
  }
  &__separator {
    width: 1px;
    height: 18px;
    background-color: $text-color;
  }
  @media screen and (max-width: 1024px) {
    &__content {
      flex-direction: column;
      row-gap: 20px;
      align-items: center;
    }
    &__separator {
      display: none;
    }
  }
}

.payments {
  display: flex;
  align-items: center;
  column-gap: 38px;
  &__item {
    display: flex;
    column-gap: 10px;
    align-items: center;
    font-size: 13px;
    color: $text-color;
  }
  &__icon {
    width: 20px;
    height: 20px;
  }
}

.contacts {
  @extend .payments;
}
