.main {
  padding: 205px 0;
  background: url("/images/main-bg.jpeg") right/cover no-repeat;

  &__content {
    display: flex;
    flex-direction: column;
    row-gap: 80px;
  }

  &__title {
    max-width: 780px;
    color: var(--text-color__dark);
    text-transform: uppercase;
  }

  &__buttons_wrapper {
    display: flex;
    column-gap: 30px;
  }

  &__button {
    max-width: 185px;
    width: 100%;
    font-size: 15px;
    text-transform: uppercase;
  }

  &--prod-bg {
    background: url("/layout-project-test/images/main-bg.jpeg") right/cover
      no-repeat;
  }

  @media (max-width: 1024px) {
    padding: 120px 0 150px;
    background-position: 80% top;

    &__buttons_wrapper {
      flex-direction: column;
      row-gap: 20px;
      align-items: center;
    }
  }
}
