.main {
  padding: 205px 0;
  background: url("/images/main-bg.jpeg") right/cover no-repeat;
  &_content {
    display: flex;
    flex-direction: column;
    row-gap: 80px;
  }
  &_title {
    max-width: 780px;
    color: var(--text-color__dark);
    text-transform: uppercase;
  }
  &_buttons_wrapper {
    display: flex;
    column-gap: 30px;
  }
  &_button {
    max-width: 185px;
    width: 100%;
    font-size: 15px;
    text-transform: uppercase;
  }
}
