.form {
  display: grid;
  width: 100%;
  grid-template-columns: repeat(3, 1fr);
  align-items: start;
  gap: 30px;

  &__item {
    &--big {
      grid-column: span 2;
    }
  }

  &__submit {
    grid-column: span 3;
    justify-self: center;
    max-width: 370px;
    width: 100%;
    text-transform: uppercase;
  }

  @media (max-width: 1024px) {
    grid-template-columns: 1fr;

    &__item {
      &--big {
        grid-column: span 1;
      }
    }

    &__submit {
      grid-column: span 1;
    }
  }
}
