.logo {
  color: var(--link-color);
  font-family: var(--font-raleway);
  text-transform: uppercase;
  font-size: 28px;
  font-weight: 800;
  @media screen and (max-width: 768px) {
    font-size: 18px;
  }
}
