.fileUpload {
  display: flex;
  align-items: center;
  gap: 16px;

  &__input {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    border: 0;
  }

  &__button {
    width: 100%;
    font-family: var(--font-lato);
    text-transform: uppercase;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    padding: 14px;
    background-color: var(--bg-light);
    border: 2px solid #3e9cdc;
    color: var(--text-color__dark);
    border-radius: 8px;
    font-size: 15px;
    font-weight: 500;
    cursor: pointer;
    transition: all 0.2s ease;
    &:hover {
      opacity: 0.85;
    }
  }

  &__fileName {
    font-size: 14px;
    color: #94a3b8;
    max-width: 200px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  &__icon {
    width: 18px;
    height: 20px;
  }

  &--outline {
    .fileUpload__button {
      background: transparent;
      border: 2px solid #4f46e5;
      color: #4f46e5;

      &:hover {
        background: #eef2ff;
      }
    }
  }
}
