.input {
  width: 100%;
  padding: 12px 10px;
  border: 1px solid var(--border-color__primary);
  background-color: rgba(255, 255, 255, 0.85);
  border-radius: 3px;
  font-family: var(--font-lato);
  font-size: 18px;
  transition: all 0.25s linear;
  &::placeholder {
    color: #272733;
  }
  &:focus {
    outline: none;
    box-shadow: 0 0 11px 5px var(--link-color__active);
  }
}
