.formSection {
  padding: 120px 0 150px;
  background: url("/layout-project-test/images/form-BG.jpeg") center/cover
    no-repeat rgba(245, 248, 255);
  &_content {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 80px;
  }
  &_textContent {
    display: flex;
    flex-direction: column;
    row-gap: 30px;
    align-items: center;
    text-align: center;
  }
  &_title {
    color: var(--text-color__light);
    text-transform: uppercase;
  }
  &_description {
    color: var(--text-color__gray);
  }
  @media screen and (max-width: 768px) {
    padding: 80px 0 100px;
    &_content {
      row-gap: 40px;
    }
    &_textContent {
      row-gap: 20px;
    }
  }
}
