.formSection {
  padding: 120px 0 150px;
  background: url("/images/form-BG.jpeg") center/cover no-repeat
    rgba(245, 248, 255);
  &_content {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 80px;
  }
  &_textContent {
    display: flex;
    flex-direction: column;
    row-gap: 30px;
    align-items: center;
  }
  &_title {
    color: var(--text-color__light);
    text-transform: uppercase;
  }
  &_description {
    color: var(--text-color__gray);
  }
}
