.iconsList {
  display: flex;
  align-items: center;
  column-gap: 12px;
  &_item {
    display: flex;
    column-gap: 12px;
  }
  &_iconWrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border: 5px solid #286690;
    background-color: var(--colored-text);
  }
  &_itemContent {
    display: flex;
  }
  &_icon {
    width: 35px;
  }
  &_separators {
    display: flex;
    align-items: center;
    column-gap: 20px;
  }
  @media screen and (max-width: 1200px) {
    column-gap: 6px;
    &_iconWrapper {
      width: 70px;
      height: 70px;
    }
    &_icon {
      width: 24px;
    }
    &_separators {
      column-gap: 12px;
    }
  }
  @media screen and (max-width: 920px) {
    flex-direction: column;
    justify-content: center;
    &_iconWrapper {
      width: 50px;
      height: 50px;
    }
    &_icon {
      width: 18px;
    }
    &_item {
      row-gap: 12px;
      flex-direction: column;
    }
    &_separators {
      flex-direction: column;
      row-gap: 12px;
    }
  }
}

.dot {
  border-radius: 50%;
  width: 6px;
  height: 6px;
  background-color: #c4c4c4;
  @media screen and (max-width: 1200px) {
    width: 4px;
    height: 4px;
  }
}
