.select {
  position: relative;
  width: 100%;
  color: #272733;
  font-size: 18px;
  font-family: var(--font-lato);
  &__control {
    padding: 12px 20px 12px 10px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: rgba(255, 255, 255, 0.85);
    border: 1px solid var(--border-color__primary);
    border-radius: 4px;
    cursor: pointer;
  }

  &__value--placeholder {
    opacity: 0.7;
    font-size: 18px;
  }

  &__arrow {
    width: 9px;
    height: 9px;
    border: 1px solid #000;
    border-right: 0;
    border-top: 0;
    color: #fff;
    transform: rotate(-45deg);
    transform-origin: 50% 50%;
    transition: transform 0.2s ease;
  }

  &__arrow--open {
    transform: rotate(135deg);
  }

  &__dropdown {
    position: absolute;
    display: flex;
    flex-direction: column;
    left: 0;
    right: 0;
    background-color: #dfdfe1;
    border-radius: 0 0 4px 4px;
    overflow: hidden;
    transform: translateY(-8px);
    pointer-events: none;
    transition: all 0.2s ease;
    max-height: 0;
    z-index: 10;
  }

  &__dropdown--open {
    transform: translateY(0);
    pointer-events: auto;
    max-height: 200px;
  }

  &__options {
    overflow-y: auto;
    max-height: 200px;
  }

  &__option {
    width: 100%;
    padding: 12px 20px;
    text-align: left;
    color: #272733;
    cursor: pointer;
  }

  &__option:hover:not(.select__option--active) {
    opacity: 0.7;
  }

  &__option--active {
    color: #42a9ed;
  }

  @media screen and (max-width: 768px) {
    font-size: 16px;
    &__control {
      padding: 10px 16px 10px 8px;
    }
    &__option {
      padding: 10px 16px;
    }
  }
}
