.title {
  font-family: var(--font-lato);
  line-height: 1;
  font-weight: 700;
  &--main {
    font-size: 48px;
  }
  &--second {
    font-size: 36px;
  }
  &--third {
    font-size: 20px;
  }
  @media (max-width: 768px) {
    &--main {
      font-size: 32px;
    }
    &--second {
      font-size: 24px;
    }
    &--third {
      font-size: 16px;
    }
  }
}
