.header {
  position: fixed;
  top: 0;
  z-index: 10;
  background-color: var(--dark-bg);
  padding: 30px 0;
  width: 100%;

  &__content {
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
  }
}
